* {
  margin: 0;
  padding: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: #232323;
  height: 70px;
  align-items: center;
  padding: 0 40px;
}

.nav h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.nav h2 span {
    color : #f33f3f; 
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-list a {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
    transition: all 0.5s;
    margin-top: 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}

.nav-list a:hover {
    padding-bottom: 15px;
    border-bottom: 3px solid #f33f3f;
}


.hero-section {
    background-image: url("https://templatemo.com/templates/templatemo_546_sixteen_clothing/assets/images/slide_01.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.hero-text h3 {
    color: #f33f3f;
    font-size: 22px;
    text-transform : uppercase;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-text h1 {
    color: #ffffff;
    font-size: 64px;
    text-transform : uppercase;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
    